$red: #EF3175;
$max: 720px;

.Contact{
  display: flex;
  margin: 2em 0 0 0;
  position: fixed;
  bottom: 1em;
  z-index: 1000;
  font-size: 5vw;
  transition: right .3s ease;
  @media screen and (min-width: $max){
    height: auto;
    font-size: 2.35vw;
    right: 53vw;
  }
  @media screen and (max-width: $max){
    right: 1em;
  }
  .contact-button{
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: .6em 2em;
    font-size: .6em;
    border-radius: 2em;
    border: 1px solid #ddd;
    background: transparent;
    color: #fff;
    font-weight: bold;
    &:hover{
      background-color: rgba(#fff, .9);
      color: $red;
      border-radius: none;
    }
    @media screen and (max-width: $max){
      backdrop-filter: blur(.5em);
      background-color: rgba(gray, .3);
    }
  }
  .socials{
    margin-left: 1.5em;
    display: flex;
    align-items: center;
    gap: 1em;
    a{
      position: relative;
      display: flex;
      background-size: 0;
      background-position: center;
      &:before{
        content: "";
        pointer-events: none;
        border-radius: 100%;
        background: rgba(#fff, .8);
        inset: 0;
        position: absolute;
        transform: scale(.9);
        transition: .2s;
      }
      &:after{
        content: "";
        height: 1.5em;
        width: 1.5em;
        position: relative;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: inherit;
        background-image: inherit;
      }
      &:hover{
        &:before{
          transform: scale(1.1);
        }
      }
      &.linkedin{
        background-image: url(../../../assets/icons/linkedin.svg);
      }
      &.twitter{
        background-image: url(../../../assets/icons/x.svg);
        background-position: 51% 55%;
      }
      &.github{
        background-image: url(../../../assets/icons/github.svg);
        background-position: 51% 50%;
      }
    }
  }
}

.Hall.turned ~ .Contact{
  @media screen and (min-width: $max){
    left: auto;
    right: 1em;
  }
}