.Home {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #311F35;
  display: flex;
  font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  font-size: 2vw;
  .button{
    transition: .2s ease;
    cursor: pointer;
    &:active{
      transition: 0s ease;
      transform: scale(.9);
    }
  }
}