$max: 720px;

.SnowFall {
  z-index: 9;
  position: fixed;
  top: 10px;
  --height: 100vh;
  --width: calc(100vw - 60px - 10px);
  height: calc(var(--height) - 20px);
  overflow: hidden;
  --size: calc(var(--height) / 100 * 9);
  width: calc(var(--size) * 4.5);
  left: calc(60px + 10px);
  opacity: 0;
  pointer-events: none;
  transition: .2s ease;
  &.active {
    opacity: 1;
    transition: .5s cubic-bezier(0.655, 0.305, 0.980, -0.155);
  }
  
  @media screen and (max-width: $max) {
    --width: calc(100vw - 45px - 10px);
    left: calc((100vw + 45px  ) / 2);
    transform: translate3d(-50%, 0, 0);
  }
  
  .layer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    height: calc(var(--height) * 2);
    left: calc((var(--size) * 1.1) * var(--nb) + var(--size) * .1);
    height: calc(var(--size) * 1.1 * var(--count) - calc(var(--size) * .1));
    gap: calc(var(--size) * 0.1);
    opacity: 0;
    filter: blur(1vw);
    animation: infinite-loop 40s linear infinite alternate-reverse;
    transition: opacity 1s ease, filter .6s ease;
    &:nth-child(2n + 1){
      animation-delay: -40s;
    }
    &.shown{
      opacity: 1;
      filter: none;
    }

    &:hover {
      // animation-play-state: paused !important;

    }

    .stack {
      position: relative;
      display: flex;
      width: var(--size);
      height: var(--size);
      filter: blur(var(--blur));
      opacity: 0.8;
      z-index: var(--z-index);
      transition: left .5s linear, top .5s cubic-bezier(0, 1, .8, 2.8);
      border-radius: 10px;
      overflow: hidden;
      background-color: #fff;

      &:before {
        position: absolute;
        content: '';
        inset: 15%;
        background-image: var(--icon);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      &.buttoned {
        background-color: #fff;
      }
    }
  }
}

@keyframes infinite-loop {
  to { transform: translate3d(0, calc(-100% + var(--height) - var(--size) * .2 ), 0)}
}