$max: 720px;
.Thought{
  display: flex;
  position: absolute;
  top: calc(var(--ty, 50vh) - 68px);
  left: 10em;
  z-index: 1000;
  @media screen and (max-width: $max){
    top: calc(var(--ty, 50vh) - 48px);
    font-size: .6rem;
    left: 13em;
  }
  
  .message{
    background-color: #311F35;
    bottom: 0;
    width: 18.5em;
    border-radius: 1em;
    position: absolute;
    background: rgba(#fff, .8);
    padding: 1em;
    opacity: 0;
    transition: .1s ease;
    outline: none;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 1.5;
    @media screen and (max-width: $max){
      background: rgba(#fff, .9);
      box-shadow: 0 1px 2px #311F35;
      backdrop-filter: blur(5px);
    }
    .strong{
      font-weight: 600;
    }
    .mini{
      margin-top: 1em;
      font-size: .9em;
    }
  }
  .bubbles{
    >div{
      --index: 0;
      position: absolute;
      display: flex;
      content: '';
      width: .7em;
      height: .7em;
      border-radius: 50%;
      background: rgba(#fff, .8);
      top: 100%; right: 100%;
      transform: translate3d(-4.5em, 4em, 0);
      opacity: 0;
      @media screen and (max-width: $max){
        box-shadow: 0 0 2px #311F35;
      }
    }
    .b2{
      width: 1.1em; height: 1.1em;
      transform: translate3d(-2.4em, 2.6em, 0);
    }
    .b3{
      width: 1.6em; height: 1.6em;
      transform: translate3d(0, .5em, 0);
    }
  }
  &:focus-within{
    .bubbles {
      div{
        transition: 1s ease;
        opacity: 1;
      }
      .b1{
        transition-delay: 0s;
      }
      .b2{
        transition-delay: .3s;
      }
      .b3{
        transition-delay: .5s;
      }
    }
    .message{
      opacity: 1;
      transition: .3s ease;
      transition-delay: .8s;
    }
  }
  a{

    text-decoration: none;
  }
  .resume{
    color: #fff;
    background: #311F35;
    padding: .3em 1.5em;
    align-self: stretch;
    text-align: center;
    font-size: 1.2em;
    border-radius: .3em;
    margin-top: 1em;
    cursor: pointer;
    transition: .1s linear;
    &:active{
      transition: 0s linear;
      transform: scale(1.05);
    }
  }
}