body, html{ margin: 0 }
html{
  height: 100%;
  &.animated{
    animation: anim .2s ease;
  }
}
#root{
  position: fixed;
  overflow: hidden;
  inset: 0;
}
.Main{
  height: 100%;
}


@keyframes anim { 50% { scale: 1.05; }}